<!doctype html>
<html>
<head>
  <title>{{ currentPage.frontmatter.title }}</title>
  {{ read(file="src/fragments/head.html") | unstore }}
</head>
<body>
  <h1>Index for {{ currentPage.outputPath }}</h1>
  <ol>
  {% for child in currentPage.children %}
    <li>
      <a href="/{{ child.outputPath }}">{{ child.frontmatter.title }}</a>:
      {{ run_js(file="src/runtime/markdown.js", body=child.beforeFold, filename=child.inputPath) | unstore }}
    </li>
  {% endfor %}
  </ol>
</body>
</html>
