<!doctype html>
<html>
<head>
  <title>{{ frontmatter.title }}</title>
  {{ read(file="src/fragments/head.html") | unstore }}
</head>
<body>
  <h1>Index for {{ outputPath }}</h1>
  <ol>
  {% for child in children %}
    <li>
      <a href="/{{ child.outputPath }}">{{ child.frontmatter.title }}</a>:
      {{ run_task(file="src/runtime/markdown.js", arg=child.beforeFold) | unstore }}
    </li>
  {% endfor %}
  </ol>
</body>
</html>
