<!doctype html>
<html>
<head>
<title>{{ currentPage.frontmatter.title }}</title>
{{ read(file="src/fragments/head.html") | unstore }}
</head>
<body>
<h1>{{ currentPage.frontmatter.title }}</h1>
<main>
  {{ run_js(file="src/runtime/markdown.js", arg=currentPage.body) | unstore }}
</main>
</html>
