<!doctype html>
<html>
<head>
<title>{{ frontmatter.title }}</title>
{{ read(file="src/fragments/head.html") | unstore }}
</head>
<body>
<h1>{{ frontmatter.title }}</h1>
<main>
  {{ run_task(file="src/runtime/markdown.js", filename=filename, body=body) | unstore }}
</main>
</html>
