<!doctype html>
<html>
<head>
  <title>Test Page</title>
  {{ read(file="src/fragments/head.html") | unstore }}
</head>
<body>
  <h1>List Of Posts</h1>
  <ol>
  {% for page in run_task(file="src/pages/posts/[slug].html.js") %}
    <li>
      <a href="/posts/{{ page.slug }}">{{ page.frontmatter.title }}</a>:
      {{ page.beforeFold | unstore }}
    </li>
  {% endfor %}
  </ol>
</body>
</html>
